<!DOCTYPE html>
<html>
 <head>
  <title>{% block title %}Unnamed page{% endblock %} - Bookbag Me</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <meta name="viewport" content="" />

  <meta name="apple-mobile-web-app-capable" content="yes" />

  <script>
   viewport = document.querySelector("meta[name=viewport]");

   var iPhone = (navigator.userAgent.match(/(iPhone)/i) ? true : false);

   if (iPhone == true) {
     viewport.setAttribute('content', 'width=device-width, initial-scale=1,' +
       ' maximum-scale=1, user-scalable=no,');
   }

   if (navigator.userAgent.match(/Android/i)) {
     viewport.setAttribute('content', 'width=device-width; initial-scale=1;' +
       ' maximum-scale=1; user-scalable=0;');
   }
  </script>

  <link rel="stylesheet" href="/css/bookbag-me.css" />

  {% block head %}{% endblock %}
 </head>

 <body>
  {% block body %}{% endblock %}
 </body>
</html>
