html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3ded7;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
}

footer {
  margin-top: 2em;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;

  a {
    color: #666;
  }
}

a {
  color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1.4em;
  }
}

li {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

#loading-bestsellers {
  font-size: 1.6em;
}

.rating {
  font-style: italic;
}

.added {
  color: #999;
}
